img.small {
  max-height: 10rem;
}


.text-right {
  text-align: right;
}

.row > a {
  text-decoration: none;
  font-size: 0.8rem;
  padding: 0.2rem;
  margin: 0.1rem;
  border-radius: 0.5rem;
  border: 0.1rem #404040 solid;
  background-color: #f0c040;
  width: 100%;
  cursor: pointer;
}
button.add {
  background-color: #40c0f0;
  width: 1.5rem;
}
button.remove {
  background-color: #f04040;
  width: 1.5rem;
}
button.badge {
  background-color: #f04040;
  border: none;
  color: #ffffff;
  width: 1.5rem;
}

.merchand-infos .infos-block {
    padding: 30px 0px;
    margin-left: auto;
    margin-right: auto;
 }
 
 .merchand-infos ul {
     list-style: none;
 }
 
 .merchand-infos ul li {
     margin-top: 10px;
 }
 
 .merchand-infos .left-list {
     text-align: right;
 }
 
 .merchand-infos .right-list {
    text-align: left;
 }

 .list-transactions ul {
     margin-top: 30px;
     list-style: none;
     text-align: center;
 }

 .list-transactions ul li {
    padding: 20px 80px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    background-color: whitesmoke;
    font-size: 120%;
}